body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}

.main {
  width: 100%; 
  max-width: 640px; 
  padding: 20px; 
}

footer {
  margin-top: 450px;
}

.topnav {
  background-color: #0072CE;
}

.topnavde {
  border-radius: 8px;
}